<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Mark Bahnman</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
            <li><a href="mailto:mark.bahnman@gmail.com">E-mail</a></li>
            <li><a href="http://hubski.com/at?id=forwardslash">Hubski</a></li>
            <li><a href="https://github.com/markbahnman">Github</a></li>
            <li><a href="https://twitter.com/markbahnman">Twitter</a></li>
			     </ul>
           <p class="navbar-text navbar-title pull-left">{{ page.header }}</p>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--/.navbar-inner -->
 </div><!--/.navbar-fixed-top -->